@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

@media screen and (min-width: 0px) {
    .todo-container {
        border-radius: 15px;
        box-sizing: border-box;
        height: 140px;
        border: 1px solid black;
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        
    }

}