.addModal-background {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.addModal-container {
    width: 25%;
    height: 25%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}